@import "styles/abstract/mixins";

.grid {
  display: flex;
  flex-direction: column;
}

.header {
  margin-bottom: 1.4rem;
  display: flex;
  justify-content: space-between;

  @include respond(xs) {
    margin-bottom: 1rem;
  }

  &__search {
    max-width: 18.3rem;
    width: 100%;

    @include respond(xs) {
      max-width: 8.3rem;
    }
  }
}

.list {
  display: flex;
  flex-direction: column;

  & > * + * {
    margin-top: 3.2rem;
  }
}
