.container {
  padding-top: calc((20rem / 2));
}

.back {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  text-transform: uppercase;
  color: var(--color-dark-violet-4);
  margin-bottom: 2rem;

  span {
    text-decoration: underline;
    text-decoration-color: var(--color-dark-violet-4);
    color: var(--color-cyan);
    text-underline-offset: 0.6rem;
  }

  svg {
    transform: rotate(180deg) translateY(-0.25rem);
    margin-right: 1rem;
    height: 1.4rem;
    width: auto;
  }
}

.card {
  border-radius: 3rem;
  position: relative;
  min-height: 20rem;
  padding: calc((19.3rem / 2) + 3.3rem) 4.1rem 3.2rem 4.1rem;
}

.img {
  height: 19.3rem !important;
  width: 19.3rem !important;
  border-radius: 3rem;
  border: 0.1rem solid var(--color-dark-violet-1);
  // margin-top: -50%;
  position: absolute;
  right: 50%;
  top: calc(-19.3rem / 2);
  transform: translateX(50%);
}
