REACT_APP_API_URL=https://sockholderbe.herokuapp.com/api
REACT_APP_SMART_SEAL_API_URL=https://socks.smartseal.io/api
REACT_APP_STORAGE_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJkaWQ6ZXRocjoweGM4MTUzQkQyZjM4NDFhZDE3RDJjMTVhNjc5N0ExNWM3NmNkYWMxNjciLCJpc3MiOiJ3ZWIzLXN0b3JhZ2UiLCJpYXQiOjE2NDc1MjU1MzMwODcsIm5hbWUiOiJzb2NraG9sZGVyIn0.8aBEnn3H0XMsIhSDbEwquYOwgI3lFC5vWv_zJ3DnQwU
REACT_APP_IPFS_GATEWAY=https://ipfs.io/ipfs/
REACT_APP_PINATA_URL=https://api.pinata.cloud/pinning/pinFileToIPFS
REACT_APP_PINATA_JWT=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySW5mb3JtYXRpb24iOnsiaWQiOiIzNjcxNzE2ZS02ZDBjLTRmY2YtOGEwMS1iM2I4MTljMzcxMmUiLCJlbWFpbCI6InNvY2tob2RsZXJAZ21haWwuY29tIiwiZW1haWxfdmVyaWZpZWQiOnRydWUsInBpbl9wb2xpY3kiOnsicmVnaW9ucyI6W3siaWQiOiJOWUMxIiwiZGVzaXJlZFJlcGxpY2F0aW9uQ291bnQiOjF9XSwidmVyc2lvbiI6MX0sIm1mYV9lbmFibGVkIjpmYWxzZX0sImF1dGhlbnRpY2F0aW9uVHlwZSI6InNjb3BlZEtleSIsInNjb3BlZEtleUtleSI6IjZlODUyNWQzYjJjYjg2ZTViMmYyIiwic2NvcGVkS2V5U2VjcmV0IjoiNjc4YzExYzlhZWY4ZDZkNzMyNTI0ZTM2YTA3ZWIxNDBjNjdiZWYxZTc5YmRiNmM2Y2ZiNjA2NWNjMDM4MGJkOSIsImlhdCI6MTY1MTU0NjU5M30.FxTYg282N_JFuLSwHtTEl23T5qQam2o_V0oueTHqCR4
REACT_APP_BLOCK_EXPLORER=https://testnet.algoexplorer.io
REACT_APP_ALGO_EXPLORER_API=https://testnet.algoexplorerapi.io
REACT_APP_ALGO_BASE_SERVER=https://testnet-algorand.api.purestake.io/ps2
REACT_APP_ALGO_BASE_INDEXER=https://testnet-algorand.api.purestake.io/idx2
REACT_APP_ALGO_NETWORK=TestNet
REACT_APP_PURESTAKE_KEY=GGWxKubB9058yDLOtPg8a6EPj3Nolo7f6IfGOtGl
REACT_APP_SMART_CONTRACT_URL=https://52.15.172.88
REACT_APP_IMAGE_OPTIMIZER=https://3.143.62.127
