:root {
  color-scheme: dark;

  // fonts
  --fonts-main: 'lato', sans-serif;
  --fonts-made-soulmaze: 'made-soulmaze', sans-serif;
  --fonts-made-soulmaze-outline: 'made-soulmaze-outline', sans-serif;

  // colors
  --color-dark-violet: #2d093b;
  --color-dark-violet-1: #501659;
  --color-dark-violet-2: #2e0d3b;
  --color-dark-violet-3: #4d2277;
  --color-dark-violet-4: #802da6;
  --color-dark-violet-5: #3b0f47;
  --color-dark-violet-6: #4e1449;
  --color-dark-violet-7: #401247;

  --color-violet: #8a2699;

  --color-dark: #0c041d;
  --color-dark-1: #1b0833;
  --color-dark-2: #220835;
  --color-dark-3: #2b0939;
  --color-dark-4: #17082a;

  --color-white: #fff;

  --color-red: #fc0174;

  --color-cyan: #27f8f2;

  --color-green: #05d000;
}
