:root {
  // fonts
  --fonts-main: , sans-serif;

  // layout
  --layout-mobile-nav-height: 6rem;

  // colors
  --color-dark-violet: #2d093b;
  --color-dark-violet-1: #501659;
  --color-dark-violet-2: #2e0d3b;

  --color-violet: #8a2699;

  --color-dark: #0c041d;
  --color-dark-1: #1b0833;

  --color-white: #fff;
}
