@import "styles/abstract/mixins";

.nft {
  --cart-width: 30.7rem;
  max-width: var(--cart-width);
  width: 100%;
  
  border-radius: 3rem;
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;

  @include respond(sm) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    --cart-width: 100%;
    border-radius: 1rem;
    padding: 2rem;
  }

  @include respond(xs) {
    display: flex;
    flex-direction: row;
    --cart-width: 100%;
    border-radius: 1rem;
    padding: 2rem;
  }

  /* @media screen and (max-width: 390px) {
    --cart-width: 100%;
  } */
}

.img {
  max-width: var(--cart-width);
  max-height: var(--cart-width);
  display: block;
  width: auto;
  height: auto;
  border-radius: 3rem;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.3);

  
  @include respond(sm) {
    border-radius: 1rem;
    max-width: 20rem;
    max-height: 20rem;
  }

  @include respond(xs) {
    border-radius: 1rem;
    width: 35%;
    height: auto;
    margin-right: 2rem;
  }

  /* @media screen and (max-width: 390px) {
    width: 100%;
    height: auto;
  } */
}
.hide_img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  left: 0;
  right: 0;
  z-index: -9999;
  opacity: 0;
}

.content {
  padding: 3.5rem 2.2rem 2.3rem 2.2rem;
  display: flex;
  flex-direction: column;
  width: 75%;

  @include respond(xs) {
    padding: 1.4rem 0.7rem 1.3rem 0.7rem;
  }
}

.title {
  font-family: var(--fonts-made-soulmaze);
  font-size: 1.8rem;
  margin-bottom: 0.3rem;

  @include respond(xs) {
    font-size: 1.3rem;
    margin-bottom: 0.6rem;
  }
}

.subtitle {
  color: var(--color-violet-1);
  margin-bottom: 1rem;

  @include respond(xs) {
    font-size: 1.2rem;
    margin-bottom: 0.8rem;
  }
}

.price {
  display: flex;
  align-items: center;
  grid-gap: 0.9rem;
  font-size: 2.8rem;
  margin-bottom: 0.8rem;
  font-weight: 700;

  @include respond(xs) {
    font-size: 1.4rem;
    margin-bottom: 0.3rem;
  }

  svg {
    height: 1.9rem;
    width: auto;

    @include respond(xs) {
      height: 1.1rem;
    }
  }
}

.unit,
.current-bid {
  margin-bottom: 3.1rem;
  font-size: 1.6rem;
  font-weight: 700;

  @include respond(xs) {
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 1.5rem;
  }
}

.current-bid {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-gap: 1rem;
}

.info {
  display: flex;
  flex-direction: column;
  list-style: none;

  li {
    display: flex;
    flex-direction: column;
    padding: 1.5rem 0;
    border-bottom: 0.1rem solid var(--color-dark-violet-4);
    text-transform: uppercase;

    @include respond(xs) {
      padding: 1rem 0;
    }

    &:last-of-type {
      border-bottom: none;
      padding-bottom: 0;
    }

    & span:first-of-type {
      font-size: 1.6rem;
      font-weight: 700;
      margin-bottom: 0.7rem;

      @include respond(xs) {
        font-size: 1.4rem;
        margin-bottom: 0.5rem;
      }
    }

    & span:last-of-type {
      font-size: 1.4rem;
    }
  }
}
