.btn {
  padding: 1.5rem 3rem;
  background: linear-gradient(
    to right,
    var(--color-dark-1),
    var(--color-dark-violet-1)
  );
  border: 0.07rem solid var(--color-violet);
  font-size: 2.2rem;
  border-radius: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in-out;

  &:hover {
    background: linear-gradient(
      to left,
      var(--color-purple-1),
      var(--color-dark-1)
    );
    border-color: var(--color-purple);
  }
}

// accent
@mixin base-color {
  color: var(--color-white);
  border: none;
  background: none;
}

.color-red {
  @include base-color;
  background-color: var(--color-red);

  &:hover {
    background-color: var(--color-red);
    background: var(--color-red);
  }
}

.color-black {
  @include base-color;
  background-color: var(--color-dark-5);

  &:hover {
    background-color: var(--color-dark-5);
    background: var(--color-dark-5);
  }
}

.color-purple {
  @include base-color;
  background-color: var(--color-dark-violet-8);

  &:hover {
    background-color: var(--color-dark-violet-8);
    background: var(--color-dark-violet-8);
  }
}

.color-gr-top-bottom {
  border: 0.1rem solid var(--color-dark-violet-8);
  background: linear-gradient(
    180deg,
    var(--color-dark-violet-8) 0%,
    var(--color-dark-6) 100%
  );

  &:hover {
    background: linear-gradient(
      to bottom,
      var(--color-purple-1),
      var(--color-dark-1)
    );
    border-color: var(--color-purple);
  }
}

.color-grey {
  @include base-color;
  background-color: var(--color-grey);
}

// sizes
.size-tiny {
  font-size: 1.4rem;
  padding: 1rem 3rem;
  border-radius: 1.5rem;
}

.size-small {
  font-size: 1.6rem;
  padding: 1.1rem 3rem;
  border-radius: 1.5rem;
}

.size-large {
  font-size: 1.8rem;
  padding: 1.2rem 3rem;
  border-radius: 1.5rem;
}

.size-huge {
  font-size: 2.6rem;
  padding: 3.2rem 5rem;
  border-radius: 3rem;
}

// shapes
.shape-sharp {
  border-radius: 0;
}

// disabled
.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

// loading
.loading {
  padding-right: 2rem;
  svg {
    height: 2.3rem;
    width: 2.3rem;
  }
}

div.tooltip {
  font-size: 2rem;
  padding: 1.3rem 2rem;
  border-radius: 1rem;
}
