.btn {
  font-size: 2.6rem;
  padding: 3.2rem 5rem;
  border-radius: 3rem;
  background: linear-gradient(
    to right,
    var(--color-dark-1),
    var(--color-dark-violet-1)
  );
  border: 0.07rem solid var(--color-violet);
}
