@import "styles/abstract/mixins";

.wallet {
  display: flex;
  align-items: center;
  background: none;
  border: none;

  &:focus {
    outline: none;
  }

  &__text {
    margin-right: 2rem;
    font-size: 2.2rem;

    @include respond(lg) {
      font-size: 1.8rem;
      margin-right: 1.5rem;
    }

    @include respond(xs) {
      font-size: 1.5rem;
      margin-right: 1.2rem;
    }
  }

  &__btn {
    height: 4.25rem;
    width: 4.25rem;
    border-radius: .5rem;
    background: linear-gradient(
      to right,
      var(--color-dark-1),
      var(--color-dark-violet-1)
    );
    border: 0.1rem solid var(--color-violet);
    color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      height: 2.5rem;
      width: auto;
      color: var(--color-white);
    }

    @include respond(lg) {
      height: 5rem;
      width: 5rem;

      svg {
        height: 2.5rem;
        width: auto;
      }
    }

    @include respond(xs) {
      height: 3.4rem;
      width: 3.4rem;
      border-radius: 0.5rem;

      svg {
        width: 2.2rem;
        height: auto;
      }
    }
  }

  &:hover {
    .wallet__btn {
      background: linear-gradient(
        to left,
        var(--color-dark-1),
        var(--color-dark-violet-1)
      );
    }
  }
}

.connected {
  display: flex;
  align-items: center;

  &__logout {
    @extend .wallet__btn;
    margin-left: 2.5rem;

    svg {
      height: 2.8rem;
      width: auto;
    }

    @include respond(lg) {
      margin-left: 2rem;
    }

    @include respond(xs) {
      margin-left: 1rem;

      svg {
        height: 1.5rem;
      }
    }
  }

  &__select {
    & > button {
      padding-top: 2.2rem;
      padding-bottom: 2.2rem;

      @include respond(lg) {
        padding: 1.5rem;
        font-size: 1.4rem;

        svg {
          width: 1.3rem;
        }
      }

      @include respond(xs) {
        padding: 0.8rem;
        border-radius: 0.5rem;

        svg {
          height: 1rem;
        }
      }
    }

    & > div {
      @include respond(xs) {
        margin-top: -3rem;
      }
    }
  }
}
