.wallet {
  display: flex;
  align-items: center;
  background: none;
  border: none;

  &:focus {
    outline: none;
  }

  &__text {
    margin-right: 2rem;
    font-size: 2.2rem;
  }

  &__btn {
    height: 6.7rem;
    width: 6.7rem;
    border-radius: 1.5rem;
    background: linear-gradient(
      to right,
      var(--color-dark-1),
      var(--color-dark-violet-1)
    );
    border: 0.1rem solid var(--color-violet);
    color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      height: 3.5rem;
      width: auto;
    }
  }
}

.connected {
  display: flex;

  &__logout {
    @extend .wallet__btn;
    margin-left: 2.5rem;

    svg {
      height: 2.8rem;
      width: auto;
    }
  }
}

.dropdown {
  position: relative;

  &__select {
    display: flex;
    align-items: center;
    padding: 2.4rem 1.8rem;
    border: 0.1rem solid var(--color-violet);
    border-radius: 1.5rem;
    background: linear-gradient(
      to right,
      var(--color-dark-violet-1),
      var(--color-dark-1)
    );
    font-size: 1.6rem;
    z-index: 2;
    position: relative;

    svg {
      margin-left: 4.3rem;
      height: 1rem;
      width: auto;
      transition: all 0.1s ease-in-out;
    }
  }

  &__list {
    z-index: 1;
    position: absolute;
    top: 100%;
    width: 100%;
    flex-direction: column;
    margin-top: -3rem;
    padding: 4rem 2.1rem 3.6rem 2.1rem;
    background: linear-gradient(
      to right,
      var(--color-dark-1),
      var(--color-dark-violet-1)
    );
    border: 0.1rem solid var(--color-violet);
    border-radius: 0 0 1.5rem 1.5rem;
    display: none;
  }

  &__item {
    font-size: 1.6rem;
    text-align: right;
    padding: 2rem 0;
    background: none;
    border: none;
    border-bottom: 0.1rem solid var(--color-violet);
  }

  &--open {
    .dropdown__select svg {
      transform: rotate(180deg);
    }

    .dropdown__list {
      display: flex;
    }
  }
}
