.wallet {
  display: flex;
  align-items: center;
  background: none;
  border: none;

  &:focus {
    outline: none;
  }

  &__text {
    margin-right: 2rem;
    font-size: 2.2rem;
  }

  &__btn {
    height: 6.7rem;
    width: 6.7rem;
    border-radius: 1.5rem;
    background: linear-gradient(
      to right,
      var(--color-dark-1),
      var(--color-dark-violet-1)
    );
    border: 0.1rem solid var(--color-violet);
    color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      height: 3.5rem;
      width: auto;
    }
  }

  &:hover {
    .wallet__btn {
      background: linear-gradient(
        to left,
        var(--color-dark-1),
        var(--color-dark-violet-1)
      );
    }
  }
}

.connected {
  display: flex;

  &__logout {
    @extend .wallet__btn;
    margin-left: 2.5rem;

    svg {
      height: 2.8rem;
      width: auto;
    }
  }
}
