.tabs {
  display: flex;
  flex-direction: column;
}

.tape {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10rem;
  margin-bottom: 7rem;
  overflow-x: auto;
  overflow-y: hidden;
  background: linear-gradient(
    to right,
    var(--color-dark-1),
    var(--color-dark-violet-1)
  );
  padding: 1.4rem 5rem;
  grid-gap: 3rem;
  width: 100%;

  &__item {
    padding: 3.1rem 5rem;
    font-size: 3.3rem;
    border: none;
    background: none;
    border: 0.1rem solid transparent;
    color: var(--color-grey-4);
    white-space: nowrap;
    border-radius: 10rem;
    flex: 1 1 auto;

    &--active {
      background: linear-gradient(
        to right,
        var(--color-dark-1),
        var(--color-dark-violet-1)
      );
      border-color: var(--color-dark-violet-1);
    }
  }
}
