@import "styles/abstract/mixins";

.wallet {
  display: flex;
  flex-direction: column;
  max-width: 75.4rem;
  margin: 0 auto 7rem auto;
  border-radius: 3rem;
  border: 0.1rem solid var(--color-dark-violet-1);

  @include respond(xs) {
    border-radius: 1rem;
    margin: 0 auto 3rem auto;
  }
}

.header {
  padding: 2rem 3rem;
  border-bottom: 0.1rem solid var(--color-dark-violet-4);
  display: flex;
  align-items: flex-end;
  justify-content: center;

  @include respond(xs) {
    padding: 1rem;
  }

  strong {
    font-size: 1.6rem;
    margin-right: 0.5rem;

    @include respond(xs) {
      font-size: 1.4rem;
    }
  }

  span {
    font-size: 1.2rem;
  }
}

.content {
  padding: 1.5rem 5rem 2.7rem 5rem;

  @include respond(xs) {
    padding: 1rem 3rem 1.5rem 3rem;
  }
}

.info {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.8rem;

  &__left,
  &__right {
    display: flex;
    flex-direction: column;
    align-items: center;

    & span:first-of-type {
      font-size: 2.2rem;
      font-weight: 700;
      margin-bottom: 1rem;

      @include respond(xs) {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
      }
    }

    & span:last-of-type {
      font-size: 1.6rem;

      @include respond(xs) {
        font-size: 1.3rem;
      }
    }
  }
}

.divider {
  height: 6.5rem;
  width: 0.1rem;
  background-color: var(--color-dark-violet-4);
  margin: 0 5rem;

  @include respond(xs) {
    height: 4rem;
  }
}

.actions {
  display: flex;
  align-items: center;
  justify-content: center;
}
