.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.input {
  display: none;
}

.label {
  font-size: 2rem;
  margin-bottom: 1.4rem;

  span {
    color: var(--color-cyan);
  }
}

.btn {
  min-width: 20.6rem;
  font-size: 2rem;
}

.info {
  margin-top: 2.2rem;
  font-size: 1.6rem;
  line-height: 1.5;
  line-height: inherit;
}

.error {
  .btn {
    border: 0.1rem solid var(--color-red);
  }
}

.upload-details {
  margin-top: 2rem;

  & > * + * {
    margin-top: 1rem;
  }

  &__detail {
    display: flex;
    flex-direction: column;

    & span:first-of-type {
      margin-bottom: 1rem;
      font-weight: 700;
      color: var(--color-red);
    }
  }
}
