@import "styles/abstract/mixins";

.modal {
  max-width: 60rem;
  width: 100%;
}

.step {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 4.4rem;
    text-transform: uppercase;

    @include respond(xs) {
      margin-bottom: 2.5rem;
    }
  }

  &__title {
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 1rem;

    @include respond(xs) {
      font-size: 2rem;
      font-weight: 400;
    }
  }

  &__subtitle {
    font-size: 1.6rem;
    font-weight: 300;

    span {
      text-transform: lowercase;
    }
  }

  &__action {
    padding: 1.6rem 5rem;
    min-width: 18rem;
  }
}

// steps
.step-welcome {
  &__grid {
    display: flex;
    padding-top: 1.5rem;

    @include respond(xs) {
      padding-top: 0;
    }
  }

  &__logos {
    display: flex;
    flex-direction: column;

    & > * + * {
      margin-top: 4.5rem;

      @include respond(xs) {
        margin-top: 3.3rem;
      }
    }

    button {
      border: none;
      display: flex;
      background: none;
      transition: all .35s ease-out;

      &:focus {
        outline: none;
      }

      &:hover {
        transform: scale(1.1);

      }
    }

    & button:nth-child(1) svg {
      height: 4.8rem;
      width: auto;

      @include respond(xs) {
        height: 3rem;
      }
    }

    & button:nth-child(2) svg {
      height: 2.4rem;
      width: auto;

      @include respond(xs) {
        height: 1.5rem;
      }
    }

    & button:nth-child(3) svg {
      height: 6.4rem;
      width: auto;

      @include respond(xs) {
        height: 4rem;
      }
    }
  }

  &__divider {
    height: 19.8rem;
    width: 0.1rem;
    background-color: var(--color-dark-violet-9);
    margin: 0 3.6rem;

    @include respond(xs) {
      height: 14.9rem;
      margin: 0 2rem;
    }
  }

  &__actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    span {
      font-size: 1.6rem;
      margin-bottom: 1.9rem;
      font-weight: 300;
      line-height: 1.5;
    }

    button {
      @include respond(xs) {
        min-width: unset;
        padding: 1.6rem 1.4rem;
        white-space: nowrap;
      }
    }
  }
}

.step-info {
  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 28.4rem;
    width: 100%;
    margin: 0 auto;

    @include respond(xs) {
      margin-bottom: 2.1rem;
    }

    input {
      width: 100%;
    }

    & > * + * {
      margin-top: 3rem;

      @include respond(xs) {
        margin-top: 2.1rem;
      }
    }
  }
}

.step-verify {
  &__form {
    @extend .step-info__form;
  }
}

.step-not-verified {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  padding: 3rem;

  &__text {
    margin-bottom: 4rem;
    font-size: 2rem;
    line-height: 1.4;

    @include respond(xs) {
      margin-bottom: 2rem;
      font-size: 1.6rem;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    grid-gap: 1rem;
    margin-bottom: auto;
    font-size: 1.7rem;

    @include respond(xs) {
      margin-bottom: 3rem;
      font-size: 1.4rem;
    }
  }

  &__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    grid-gap: 2rem;
  }
}

.step-congrats {
  & > svg {
    height: 5rem;
    width: auto;
    margin-bottom: 5.5rem;

    @include respond(xs) {
      height: auto;
      width: 100%;
      margin-bottom: 4.5rem;
    }
  }
}
