@import "styles/abstract/mixins";

.grid {
  &__header {
    margin-bottom: 2.6rem;

    @include respond(xs) {
      margin-bottom: 1.2rem;
    }

    a {
      display: flex;
      align-items: center;
      font-size: 1.6rem;
      text-transform: uppercase;
      color: var(--color-dark-violet-4);

      @include respond(xs) {
        font-size: 1.4rem;
      }

      span {
        text-decoration: underline;
        text-decoration-color: var(--color-dark-violet-4);
        color: var(--color-cyan);
        text-underline-offset: 0.6rem;
      }

      svg {
        transform: rotate(180deg) translateY(-0.25rem);
        margin-right: 1rem;
        height: 1.4rem;
        width: auto;

        @include respond(xs) {
          height: 1rem;
          margin-right: 0.4rem;
        }
      }
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 7.8rem;
    justify-content: center;
    margin-bottom: 8.5rem;

    @include respond(xs) {
      margin-bottom: 4rem;
      grid-gap: 1.7rem;
    }
  }

  &__load-more {
    max-width: 47rem;
    margin: 0 auto;
    width: 100%;
    display: block;

    @include respond(xs) {
      max-width: 16.5rem;
    }
  }
}
