@import "styles/abstract/mixins";


@keyframes glow {
  from {
    filter: drop-shadow( 0 0 .25rem rgba(138, 38, 153, 1));
    -webkit-filter: drop-shadow( 0 0 .25rem rgba(138, 38, 153, 1));
  }
  to {
    filter: drop-shadow( 0 0 1rem rgba(252, 1, 116, 0.75));
    -webkit-filter: drop-shadow( 0 0 1rem rgba(252, 1, 116, .5));
  }
}

@keyframes subtle-glow {
  from {
    filter: drop-shadow( 0 0 1rem rgba(138, 38, 153, .35));
    -webkit-filter: drop-shadow( 0 0 1rem rgba(138, 38, 153, .35));
  }
  to {
    filter: drop-shadow( 0 0 2rem rgba(138, 38, 153, .35));
    -webkit-filter: drop-shadow( 0 0 2rem rgba(138, 38, 153, .35));
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.check-icon {
  height: 15rem;
  width: 15rem;
  margin-bottom: 3.2rem;
  animation: glow 3s ease-in-out infinite alternate;
  transition: all .35s ease-in-out;

  &:hover {
    transform: rotate(10deg);
  }

  @include respond(sm) {
    height: 13rem;
    width: 13rem;
  }

  @include respond(xs) {
    height: 10rem;
    width: 10rem;
    margin-top: 4rem;
  }
}

.title {
  font-size: 5rem;
  margin: 0;
  margin-bottom: 2rem;
  font-family: var(--fonts-made-soulmaze);
  font-weight: normal;
  //max-width: 53rem;
  text-align: center;

  @include respond(md) {
    font-size: 3rem;
  }

  @include respond(sm) {
    font-size: 2.8rem;
  }

  @include respond(xs) {
    font-size: 2.4rem;
    margin-bottom: 1.3rem;
  }
}

.subtitle {
  font-size: 2.6rem;
  margin-bottom: 4rem;
  color: var(--color-cyan);
  max-width: 76rem;
  text-align: center;
  line-height: 1.5;

  a {
    color: var(--color-red);
    margin: 0 0.5rem;
  }

  @include respond(md) {
    font-size: 2rem;
    margin-bottom: 4rem;
    max-width: 40rem;

  }

  @include respond(xs) {
    font-size: 1.7rem;
    margin: 2rem auto 4rem auto;
    max-width: 30rem;
  }
}

.footer {
  font-size: 2.6rem;
  margin-bottom: 10.7rem;

  a {
    color: var(--color-red);
    margin: 0 0.5rem;

    &:hover {
      color: var(--color-cyan);
    }
  }

  @include respond(md) {
    font-size: 2rem;
  }

  @include respond(xs) {
    font-size: 1.7rem;
    margin-bottom: 4.7rem;
  }
}
