@import "styles/abstract/mixins";

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.check-icon {
  height: 15rem;
  width: 15rem;
  margin-bottom: 3.2rem;

  @include respond(xs) {
    height: 6.6rem;
    width: 6.6rem;
  }
}

.title {
  font-size: 4.6rem;
  margin: 0;
  margin-bottom: 3.5rem;
  font-family: var(--fonts-made-soulmaze);
  font-weight: normal;
  max-width: 53rem;
  text-align: center;

  @include respond(md) {
    font-size: 3rem;
  }

  @include respond(xs) {
    font-size: 2.4rem;
    margin-bottom: 1.3rem;
  }
}

.subtitle {
  font-size: 2.6rem;
  margin-bottom: 11rem;
  color: var(--color-cyan);
  max-width: 76rem;
  text-align: center;
  line-height: 1.5;

  a {
    color: var(--color-red);
    margin: 0 0.5rem;
  }

  @include respond(md) {
    font-size: 2rem;
  }

  @include respond(xs) {
    font-size: 1.6rem;
    margin-bottom: 3rem;
  }
}

.footer {
  font-size: 2.6rem;
  margin-bottom: 10.7rem;

  a {
    color: var(--color-red);
    margin: 0 0.5rem;
  }

  @include respond(md) {
    font-size: 2rem;
  }

  @include respond(xs) {
    font-size: 1.2rem;
    margin-bottom: 4.7rem;
  }
}
