.container {
  padding-top: calc((20rem / 2));
}

.card {
  border-radius: 3rem;
  position: relative;
  min-height: 20rem;
  padding: calc((19.3rem / 2) + 3.3rem) 4.1rem 3.2rem 4.1rem;
}

.image-picker {
  position: absolute;
  right: 50%;
  top: calc(-19.3rem / 2);
  transform: translateX(50%);
}

.form {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 1rem;
}

.row {
  display: flex;
  grid-gap: 6.1rem;
  padding-top: 2.9rem;
  padding-bottom: 3.5rem;
  border-bottom: 0.1rem solid var(--color-dark-violet-4);

  & > * {
    flex: 1 1 33.333%;
  }

  &:first-of-type {
    padding-top: 0;
  }

  &:last-of-type {
    padding-bottom: 0;
    border-bottom: none;
  }
}

.file-picker {
  margin-bottom: 4rem;

  &__link {
    color: var(--color-cyan);
  }
}

.checkbox {
  margin-bottom: 4.5rem;
}

.action {
  width: 100%;
  margin-top: 1rem;
}

.progress {
  &__bar {
    margin-top: 2rem;
    height: 0.4rem;
    width: 100%;
    border-radius: 1rem;
    background-color: #464646;
    overflow: hidden;
    display: flex;
    align-items: center;
  }

  &__status {
    width: 0%;
    height: 100%;
    background-color: var(--color-red);
    display: block;
    transition: width 0.5s;
  }

  &__note {
    margin-top: 10rem;
    text-align: center;
  }
}
.visible {
  visibility: visible;
}
.hidden {
  visibility: hidden;
}
