.title {
  font-size: 6rem;
  margin-bottom: 8rem;
  font-family: var(--fonts-made-soulmaze);
  font-weight: normal;
  text-align: center;
}

.action {
  font-size: 2rem;
  padding: 3rem 5rem;
  min-width: 40rem;
  display: block;
  margin: 0 auto 9.1rem auto;
}
