@import "styles/abstract/mixins";

.info {
  align-items: center;
  padding: 1.9rem 3.2rem;
  font-size: 1.8rem;
  background: linear-gradient(
    to right,
    var(--color-dark-1),
    var(--color-dark-violet-1)
  );
  border-radius: 2rem;
  border: 0.1rem solid var(--color-violet);
  flex: 1 1 calc(50% - 5.6rem);
  display: flex;

  @include respond(md) {
    border-radius: 1.5rem;
    padding: 1rem 2rem;
    font-size: 1.7rem;
    height: 6rem; // Added by Coco - Height was incorrect on mobile device
  }

  @include respond(xs) {
    padding: 1rem;
    font-size: 1.6rem;
  }
}

.name {
  flex: 0 1 26.3rem;
  margin-right: 6rem;

  @include respond(md) {
    flex: 0 0 auto;
    margin-right: 1.7rem;
  }
}

.divider {
  height: 4rem;
  width: 0.1rem;
  background-color: var(--color-dark-violet-3);

  @include respond(md) {
    height: 4rem;
  }

  @include respond(xs) {
    height: 2.4rem;
  }

  &:last-of-type {
    background-color: var(--color-dark-violet-4);
  }
}

.value {
  flex: 1 1 auto;
  margin: 0 6rem;
  text-align: right;
  color: var(--color-cyan);
  text-decoration: underline;

  @include respond(xs) {
    margin: 0 1.4rem;
  }
}

.action {
  margin-left: 3.6rem;
  color: var(--color-violet);
  display: flex;
  border: none;
  background: none;

  &:focus {
    outline: none;
  }

  svg {
    width: 2.9rem;
    height: auto;

    @include respond(md) {
      width: 2rem;
    }

    @include respond(xs) {
      width: 1.3rem;
    }
  }

  @include respond(xs) {
    margin-left: 1.2rem;
  }
}

// size
.small {
  padding: 1.1rem 1.2rem;
  font-size: 1.4rem;
  border-radius: 1.5rem;

  .name {
    margin-right: 4.3rem;
    flex: 0 1 9.5rem;
  }

  .divider {
    height: 2.4rem;
  }

  .value {
    margin: 0 3.3rem;
  }

  .action {
    margin-left: 1.3rem;

    svg {
      width: 1.4rem;
    }
  }
}
