@import "styles/abstract/mixins";

.grid {
  display: flex;
  flex-direction: column;
}

.header {
  margin-bottom: 1.4rem;
  display: flex;
  justify-content: space-between;

  @include respond(xs) {
    margin-bottom: 1rem;
  }

  &__search {
    max-width: 18.3rem;
    width: 100%;

    @include respond(xs) {
      max-width: 8.3rem;
    }
  }
}

.list {
  display: flex;
  flex-direction: column;

  & > * + * {
    margin-top: 3.2rem;
  }
}

.load-more {
  max-width: 47rem;
  margin: 0 auto;
  width: 100%;
  display: block;
  margin-top: 6rem;
  &--disabled {
    background: var(--color-grey);
    color: var(--color-dark-2);
    cursor: not-allowed;

    &:hover {
      border-color: transparent;
      background: var(--color-grey);
    }
  }
  @include respond(xs) {
    max-width: 16.5rem;
    margin-top: 3.6rem;
  }
}

.connect-wallet {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10rem 5rem 20rem 5rem;

  button.connect-wallet__btn {
    border: 1px solid var(--color-violet-3);
    padding: 2rem 3.5rem;
    border-radius: 10rem;
    background: linear-gradient(
      to right,
      var(--color-dark-1),
      var(--color-dark-violet-1)
    );

    &:hover {
      background: linear-gradient(
        to left,
        var(--color-dark-1),
        var(--color-dark-violet-1)
      );
      border-color: var(--color-dark-violet-1);
    }

    @include respond(xs) {
      padding: 2rem 3.5rem;
    }

    & > div {
      display: none;
    }

    & > span {
      font-size: 2rem;
      margin: 0;

      @include respond(xs) {
        font-size: 1.8rem;
      }
    }
  }
}
