@import "styles/abstract/mixins";

.container {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  background: linear-gradient(
    to bottom,
    var(--color-dark-violet),
    var(--color-dark-3)
  );
  border-radius: 0 0 3rem 3rem;
  margin-bottom: 10.5rem;
  z-index: 10;

  @include respond(xs) {
    background: none;
    margin-bottom: 2.7rem;
  }
}

// header
.header {
  padding: 3.7rem 6.4rem 5.4rem 6.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include respond(lg) {
    padding: 3rem 4rem;
  }

  @include respond(sm) {
    padding: 2rem 3rem;
  }

  @include respond(xs) {
    padding: 3.8rem 1.5rem;
    background: linear-gradient(
      to bottom,
      var(--color-dark-violet),
      var(--color-dark-3)
    );
  }
}

.logo {
  text-transform: uppercase;
  font-size: 5.4rem;
  font-family: var(--fonts-made-soulmaze-outline);
  line-height: 1;

  @include respond(lg) {
    font-size: 4.5rem;
  }

  @include respond(sm) {
    font-size: 3rem;
  }

  @include respond(xs) {
    font-size: 2rem;
  }

  span {
    font-family: var(--fonts-made-soulmaze);
    color: var(--color-white);
  }
}

// navbar
.navbar {
  display: flex;
  align-items: center;
  background: linear-gradient(
    to right,
    var(--color-dark-2),
    var(--color-dark-violet-5)
  );
  width: 100%;
  border: 0.2rem solid var(--color-dark-violet-2);
  border-radius: 0 0 3rem 3rem;
  padding: 1.2rem 3.2rem;

  @include respond(lg) {
    padding: 0.8rem 2.5rem;
  }

  @include respond(md) {
    flex-direction: column;
  }

  @include respond(xs) {
    padding: 0;
    background: none;
    border: none;
  }
}

@mixin active-link-label {
  visibility: visible;
  margin-left: 4rem;
  width: auto;
  transform: translateX(0);
  opacity: 1;
  pointer-events: all;

  @include respond(lg) {
    margin-left: 2.5rem;
  }

  @include respond(xs) {
    margin-left: 1.4rem;
  }
}

.page-nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 0 1 100rem;
  margin-right: auto;
  grid-gap: 3rem;
  transition: all 0.3s ease-in-out;

  @include respond(md) {
    flex: 0 1 auto;
  }

  @include respond(sm) {
    grid-gap: 1rem;
  }

  @include respond(xs) {
    position: fixed;
    bottom: 0;
    padding: 1.5rem 1rem 2.2rem 1rem;
    border: 0.1rem solid var(--color-dark-violet-1);
    width: 100%;
    border-radius: 1.5rem 1.5rem 0 0;
    backdrop-filter: blur(1rem);
    background: linear-gradient(
      90deg,
      rgba(27, 8, 51, 0.8) 0%,
      rgba(80, 22, 89, 0.8) 100%
    );
    justify-content: center;
  }

  &__link {
    display: flex;
    align-items: center;
    border-radius: 10rem;
    padding: 2.1rem 2rem;
    // grid-gap: 4rem;
    transition: all 0.3s ease-in-out;

    svg {
      height: 4.6rem;
      width: auto;
    }

    @include respond(lg) {
      padding: 1.2rem 1.8rem;

      svg {
        height: 3.4rem;
      }
    }

    @include respond(xs) {
      padding: 0.7rem;

      svg {
        height: 2.2rem;
        width: auto;
      }
    }

    &:hover,
    &--active {
      background: linear-gradient(
        to right,
        var(--color-dark-1),
        var(--color-dark-violet-1)
      );
      padding: 2.1rem 4.4rem;

      @include respond(xs) {
        padding: 0.7rem 2.3rem;
      }
    }

    &:hover {
      .page-nav__label {
        @include active-link-label;
      }
    }
  }

  &__label {
    font-size: 2.2rem;
    font-weight: 700;
    visibility: hidden;
    transform: translateX(-4rem);
    opacity: 0;
    width: 0;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
    white-space: nowrap;

    @include respond(lg) {
      font-size: 1.8rem;
    }

    @include respond(xs) {
      font-size: 1rem;
      font-weight: 400;
    }

    &--active {
      @include active-link-label;
    }
  }
}

.tabs-tape {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10rem;
  overflow-x: auto;
  overflow-y: hidden;
  background: linear-gradient(
    to right,
    var(--color-dark-violet-1),
    var(--color-dark-1)
  );
  grid-gap: 3rem;
  padding: 1.1rem 1.8rem;
  margin-left: 6rem;
  flex-shrink: 0;

  @include respond(lg) {
    padding: 0.8rem 1.4rem;
  }

  @include respond(md) {
    margin-left: 0;
    margin-top: 2rem;
  }

  @include respond(xs) {
    margin: 0;
    margin-left: 1rem;
    margin-right: 1rem;
    width: calc(100% - 2rem);
    padding: 0.5rem 1.7rem;
    grid-gap: 1rem;
    border: 0.1rem solid var(--color-dark-violet-1);
    background: linear-gradient(
      to left,
      var(--color-dark-violet-1),
      var(--color-dark-1)
    );
  }

  &__item {
    padding: 2.2rem 3.2rem;
    font-size: 2.2rem;
    border: none;
    background: none;
    border: 0.1rem solid transparent;
    color: var(--color-grey-4);
    white-space: nowrap;
    border-radius: 10rem;
    flex: 1 1 auto;
    transition: all 0.2s ease-in-out;

    @include respond(lg) {
      padding: 1.3rem 2.5rem;
      font-size: 1.8rem;
    }

    @include respond(xs) {
      font-size: 1.6rem;
      padding: 1rem;
    }

    &:hover {
      border-color: var(--color-violet-3);
      background: linear-gradient(
        to left,
        var(--color-dark-1),
        var(--color-dark-violet-1)
      );

      @include respond(xs) {
        background: linear-gradient(
          to left,
          var(--color-dark-violet-1),
          var(--color-dark-1)
        );
      }
    }

    &--active,
    &--active:hover {
      background: linear-gradient(
        to right,
        var(--color-dark-violet-1),
        var(--color-dark-1)
      );
      border-color: var(--color-dark-violet-1);

      @include respond(xs) {
        background: linear-gradient(
          to left,
          var(--color-dark-violet-1),
          var(--color-dark-1)
        );
      }
    }
  }
}
