.container {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  background: linear-gradient(
    to bottom,
    var(--color-dark-violet),
    var(--color-dark-3)
  );
  border-radius: 0 0 3rem 3rem;
  margin-bottom: 10.5rem;
  z-index: 10;
}

// header
.header {
  padding: 3.7rem 6.4rem 5.4rem 6.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  text-transform: uppercase;
  font-size: 5.4rem;
  font-family: var(--fonts-made-soulmaze-outline);
  line-height: 1;

  span {
    font-family: var(--fonts-made-soulmaze);
    color: var(--color-white);
  }
}

// navbar
.navbar {
  display: flex;
  align-items: center;
  background: linear-gradient(
    to right,
    var(--color-dark-2),
    var(--color-dark-violet-5)
  );
  width: 100%;
  border: 0.2rem solid var(--color-dark-violet-2);
  border-radius: 0 0 3rem 3rem;
  padding: 1.2rem 3.2rem;
}

@mixin active-link-label {
  visibility: visible;
  margin-left: 4rem;
  width: auto;
  transform: translateX(0);
  opacity: 1;
  pointer-events: all;
}

.page-nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 0 1 100rem;
  margin-right: auto;
  grid-gap: 3rem;
  transition: all 0.3s ease-in-out;

  &__link {
    display: flex;
    align-items: center;
    border-radius: 10rem;
    padding: 2.1rem 2rem;
    // grid-gap: 4rem;
    transition: all 0.3s ease-in-out;

    &:hover,
    &--active {
      background: linear-gradient(
        to right,
        var(--color-dark-1),
        var(--color-dark-violet-1)
      );
      padding: 2.1rem 4.4rem;
    }

    svg {
      height: 4.6rem;
      width: auto;
    }

    &:hover {
      .page-nav__label {
        @include active-link-label;
      }
    }
  }

  &__label {
    font-size: 2.2rem;
    font-weight: 700;
    visibility: hidden;
    transform: translateX(-4rem);
    opacity: 0;
    width: 0;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
    white-space: nowrap;

    &--active {
      @include active-link-label;
    }
  }
}

.tabs-tape {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10rem;
  overflow-x: auto;
  overflow-y: hidden;
  background: linear-gradient(
    to right,
    var(--color-dark-violet-1),
    var(--color-dark-1)
  );
  grid-gap: 3rem;
  padding: 1.1rem 1.8rem;
  margin-left: 6rem;
  flex-shrink: 0;

  &__item {
    padding: 2.2rem 3.2rem;
    font-size: 2.2rem;
    border: none;
    background: none;
    border: 0.1rem solid transparent;
    color: var(--color-grey-4);
    white-space: nowrap;
    border-radius: 10rem;
    flex: 1 1 auto;

    &--active {
      background: linear-gradient(
        to right,
        var(--color-dark-violet-1),
        var(--color-dark-1)
      );
      border-color: var(--color-dark-violet-1);
    }
  }
}
