@import "styles/abstract/mixins";

.container {
  padding: 3.2rem 3.5rem;
  border-radius: 3rem;
  border: 0.1rem solid var(--color-dark-violet-1);

  @include respond(xs) {
    padding: 0.9rem 1.2rem 1.7rem 1.2rem;
    border-radius: 1.5rem;
  }
}

.header {
  padding-bottom: 2rem;
  border-bottom: 0.1rem solid var(--color-dark-violet-4);
  margin-bottom: 3.2rem;
  font-size: 2.2rem;

  @include respond(xs) {
    font-size: 1.6rem;
    padding: 0 1.2rem 0.9rem 1.2rem;
    margin-bottom: 1.2rem;
    margin-left: -1.2rem;
    margin-right: -1.2rem;
  }
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  @include respond(md) {
    display: grid;
    grid-template-columns: auto auto 1fr;
    grid-template-rows: repeat(3, auto);
  }
}

.column {
  &:nth-child(1) {
    margin-right: 4.1rem;

    @include respond(md) {
      margin-right: 0;
      grid-row: 1 / span 2;
    }
  }

  &:nth-child(3) {
    margin-left: 4.5rem;
    margin-right: 4.5rem;

    @include respond(md) {
      grid-column: 3 / -1;
      margin-left: 0;
      margin-right: 0;
    }
  }

  &:nth-child(5) {
    margin-left: 7.4rem;
    margin-right: 7.4rem;

    @include respond(md) {
      grid-column: 3 / -1;
      margin-left: 0;
      margin-right: 0;
    }
  }

  &:nth-child(7) {
    margin-left: 6.4rem;

    @include respond(md) {
      grid-column: 1 / -1;
      margin-left: 0;
    }
  }
}

.img {
  width: 17rem;
  height: 17rem;
  border-radius: 3rem;

  @include respond(xs) {
    width: 12.8rem;
    height: 12.8rem;
    border-radius: 1.5rem;
  }
}

.divider {
  height: 13.1rem;
  width: 0.1rem;
  background-color: var(--color-dark-violet-4);

  @include respond(md) {
    display: none;

    &:nth-child(2) {
      display: block;
      margin: 0 1.8rem 0 1.5rem;
      grid-row: 1 / span 2;
    }
  }
}

.details {
  list-style-type: none;
  display: flex;
  flex-direction: column;

  & > * + * {
    margin-top: 0.7rem;
  }

  @include respond(md) {
    margin-bottom: 2rem;

    & > * + * {
      margin-top: 0.4rem;
    }
  }

  @include respond(xs) {
    margin-bottom: 1rem;
  }
}

.detail {
  display: flex;
  align-items: baseline;
  font-size: 1.4rem;

  @include respond(xs) {
    font-size: 1.2rem;
  }

  & span:first-of-type {
    font-weight: 700;
    margin-right: 0.3rem;
  }
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.6rem;
  margin-bottom: 2rem;

  @include respond(md) {
    margin-bottom: 1rem;
    align-items: flex-start;
  }

  @include respond(xs) {
    font-size: 1.2rem;
    margin-bottom: 0.8rem;
  }

  & span:first-of-type {
    font-weight: 700;
    margin-bottom: 0.4rem;
    color: var(--color-red);
  }
}

.actions-reward {
  display: flex;
  flex-direction: column;
  grid-gap: 1.5rem;

  @include respond(md) {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 2rem;
  }

  button {
    font-size: 2rem;

    @include respond(md) {
      font-size: 1.6rem;
    }
  }
}

.actions-deposit {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  grid-row-gap: 1.4rem;

  @include respond(md) {
    margin-top: 2rem;
    grid-template-columns: repeat(2, calc(50% - 1rem));
    grid-gap: 2rem;
    grid-template-rows: unset;
  }

  button {
    font-size: 1.6rem;
    padding-left: 1.7rem;
    padding-right: 1.7rem;

    &:nth-child(1) {
      grid-column: 1 / -1;
      font-size: 2rem;

      @include respond(md) {
        font-size: 1.6rem;
        grid-column: unset;
      }
    }

    @include respond(md) {
      &:nth-child(2) {
        display: none;
      }
    }
  }
}

.hide_img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  left: 0;
  right: 0;
  z-index: -9999;
  opacity: 0;
}

// .loadingImgContainer {
//   height: 3rem;
//   width: 3rem;
//   object-fit: cover;
//   margin-right: 1rem;
//   border-radius: 0.4rem;
//   background-color: none;
//   overflow: hidden;

//   & img {
//     transform: scale(2.5);
//   }
// }