@import "styles/abstract/mixins";

.container {
  padding: 3.2rem 3.5rem;
  border-radius: 3rem;
  border: 0.1rem solid var(--color-dark-violet-1);
}

.header {
  padding-bottom: 2rem;
  border-bottom: 0.1rem solid var(--color-dark-violet-4);
  margin-bottom: 3.2rem;
  font-size: 2.2rem;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.column {
  &:nth-child(1) {
    margin-right: 4.1rem;
  }

  &:nth-child(3) {
    margin-left: 4.5rem;
    margin-right: 4.5rem;
  }

  &:nth-child(5) {
    margin-left: 7.4rem;
    margin-right: 7.4rem;
  }

  &:nth-child(7) {
    margin-left: 9.7rem;
  }
}

.img {
  width: 17rem;
  height: 17rem;
  border-radius: 3rem;
}

.divider {
  height: 13.1rem;
  width: 0.1rem;
  background-color: var(--color-dark-violet-4);
}

.details {
  list-style-type: none;
  display: flex;
  flex-direction: column;

  & > * + * {
    margin-top: 0.7rem;
  }
}

.detail {
  display: flex;
  align-items: baseline;
  font-size: 1.4rem;

  & span:first-of-type {
    font-weight: 700;
    margin-right: 0.3rem;
  }
}

.info {
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
  margin-bottom: 2rem;

  & span:first-of-type {
    font-weight: 700;
    margin-bottom: 0.4rem;
  }
}

.action {
  margin-bottom: 1.4rem;
  width: 100%;
}

.actions {
  display: flex;
  align-items: center;

  button {
    font-size: 1.2rem;
  }
}
