.content {
  padding: 0.8rem 7.5rem 7rem 7.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.check-icon {
  height: 18.8rem;
  width: 18.8rem;
  margin-bottom: 8rem;
}

.title {
  font-size: 6rem;
  margin-bottom: 1.3rem;
  font-family: var(--fonts-made-soulmaze);
  font-weight: normal;
}

.subtitle {
  font-size: 2.6rem;
  margin-bottom: 7.7rem;

  a {
    color: var(--color-red);
    margin: 0 0.5rem;
  }
}

.nft {
  display: flex;
  grid-gap: 2.9rem;
  margin-bottom: 11.5rem;

  &__img {
    height: 41.4rem;
    width: 41.4rem;
    border-radius: 3rem;
  }

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-size: 4rem;
    margin-bottom: 1.6rem;
    font-family: var(--fonts-made-soulmaze);
  }

  &__details {
    font-size: 2.6rem;
    line-height: 1.5;
    padding-bottom: 3rem;
    margin-bottom: auto;

    button {
      background: none;
      border: none;
      margin-left: 0.3rem;
      color: var(--color-red);
      font-size: inherit;

      &:focus {
        outline: none;
      }
    }
  }
}

.details {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  align-self: stretch;

  & > * + * {
    margin-top: 6rem;
  }
}

.detail {
  display: flex;
  align-items: center;
  padding: 1.9rem 3.2rem;
  font-size: 2.6rem;
  background: linear-gradient(
    to right,
    var(--color-dark-1),
    var(--color-dark-violet-1)
  );
  border-radius: 3rem;

  &__name {
    flex: 0 1 26.3rem;
    margin-right: 6rem;
  }

  &__divider {
    height: 7rem;
    width: 0.1rem;
    background-color: var(--color-dark-violet-3);

    &:last-of-type {
      background-color: var(--color-dark-violet-4);
    }
  }

  &__value {
    flex: 1 1 auto;
    margin: 0 6rem;
    text-align: right;
    color: var(--color-cyan);
    text-decoration: underline;
  }

  &__action {
    margin-left: 3.6rem;
    color: var(--color-violet);
    display: flex;
    border: none;
    background: none;

    &:focus {
      outline: none;
    }

    svg {
      width: 2.9rem;
      height: auto;
    }
  }
}
