@import "styles/abstract/mixins";


@keyframes glow {
  from {
    filter: drop-shadow( 0 0 .25rem rgba(138, 38, 153, 1));
    -webkit-filter: drop-shadow( 0 0 .25rem rgba(138, 38, 153, 1));
  }
  to {
    filter: drop-shadow( 0 0 1rem rgba(252, 1, 116, 0.75));
    -webkit-filter: drop-shadow( 0 0 1rem rgba(252, 1, 116, .5));
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.check-icon {
  height: 15rem;
  width: 15rem;
  margin-bottom: 3.2rem;
  animation: glow 3s ease-in-out infinite alternate;

  @include respond(xs) {
    height: 10rem;
    width: 10rem;
  }
}

.title {
  font-size: 6rem;
  margin: 0;
  margin-bottom: 0.5rem;
  font-family: var(--fonts-made-soulmaze);
  font-weight: normal;

  @include respond(md) {
    font-size: 4rem;
  }

  @include respond(xs) {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
}

.subtitle {
  font-size: 2.6rem;
  margin-bottom: 10.7rem;

  a {
    color: var(--color-red);
    margin: 0 0.5rem;
  }

  @include respond(md) {
    font-size: 2rem;
  }

  @include respond(xs) {
    font-size: 1.7rem;
    margin-bottom: 4.7rem;
  }
}

.nft {
  display: flex;
  grid-gap: 6.4rem;
  margin-bottom: 4rem;
  width: 100%;

  @include respond(md) {
    grid-column-gap: 3rem;
  }

  @include respond(sm) {
    grid-gap: 2rem;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 4.7rem;
  }

  @include respond(xs) {
    grid-gap: 2rem;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 4.7rem;
  }

  &__img {
    height: 40rem;
    width: 40rem;
    border-radius: 3rem;
    margin: auto;

    @include respond(md) {
      height: 30rem;
      width: 30rem;
      border-radius: 1.5rem;
    }

    @include respond(sm) {
      width: 30rem;
      height: 30rem;
      display: block;
      margin: 0 auto 2rem auto;
    }

    @include respond(xs) {
      width: 30rem;
      height: 30rem;
      display: block;
      margin: 0 auto 2rem auto;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    width: 60rem;
    margin:auto auto auto 0;

    @include respond(sm) {
      margin: auto;
      text-align: center;
      width: 100%;
    }

    @include respond(xs) {
      margin: auto;
      text-align: center;
      width: 100%;
    }
  }

  &__title {
    font-size: 3.6rem;
    margin-bottom: 1.84rem;
    font-family: var(--fonts-made-soulmaze);

    @include respond(xs) {
      font-size: 2.4rem;
      margin-bottom: 1.1rem;
    }
  }

  &__details {
    font-size: 1.8rem;
    line-height: 1.5;
    padding-bottom: 3rem;
    margin-bottom: auto;

    @include respond(xs) {
      font-size: 1.8rem;
      margin-bottom: 4rem;
      padding-bottom: 0;
    }

    &__action {


      @include respond(md) {

      }

      @include respond(xs) {

      }
    }

    /* button {
      background: none;
      border: none;
      margin-left: 0.3rem;
      color: var(--color-red);
      font-size: inherit;

      &:focus {
        outline: none;
      }
    } */
  }

}

.details {
  display: flex;
  flex-flow: row wrap;
  grid-column-gap: 5.6rem;
  grid-row-gap: 3.3rem;
  align-self: stretch;
  margin-top: 4rem;

  @include respond(xs) {
    flex-direction: column;
  }

}

.detail {
  flex: 1 1 calc(50% - 5.6rem);
}
