.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.check-icon {
  height: 15rem;
  width: 15rem;
  margin-bottom: 3.2rem;
}

.title {
  font-size: 6rem;
  margin-bottom: 0.5rem;
  font-family: var(--fonts-made-soulmaze);
  font-weight: normal;
}

.subtitle {
  font-size: 2.6rem;
  margin-bottom: 10.7rem;

  a {
    color: var(--color-red);
    margin: 0 0.5rem;
  }
}

.nft {
  display: flex;
  grid-gap: 6.4rem;
  margin-bottom: 4.1rem;
  width: 100%;

  &__img {
    height: 54.7rem;
    width: 54.7rem;
    border-radius: 3rem;
    flex-shrink: 0;
  }

  &__info {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
  }

  &__title {
    font-size: 3.2rem;
    margin-bottom: 1.8rem;
    font-family: var(--fonts-made-soulmaze);
  }

  &__details {
    font-size: 2.2rem;
    line-height: 1.5;
    padding-bottom: 3rem;
    margin-bottom: auto;

    /* button {
      background: none;
      border: none;
      margin-left: 0.3rem;
      color: var(--color-red);
      font-size: inherit;

      &:focus {
        outline: none;
      }
    } */
  }
}

.details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 5.6rem;
  grid-row-gap: 3.3rem;
  list-style-type: none;
  align-self: stretch;
}

.detail {
  display: flex;
  align-items: center;
  padding: 1.9rem 3.2rem;
  font-size: 2.6rem;
  background: linear-gradient(
    to right,
    var(--color-dark-1),
    var(--color-dark-violet-1)
  );
  border-radius: 3rem;
  border: 0.1rem solid var(--color-violet);

  &__name {
    flex: 0 1 26.3rem;
    margin-right: 6rem;
  }

  &__divider {
    height: 7rem;
    width: 0.1rem;
    background-color: var(--color-dark-violet-3);

    &:last-of-type {
      background-color: var(--color-dark-violet-4);
    }
  }

  &__value {
    flex: 1 1 auto;
    margin: 0 6rem;
    text-align: right;
    color: var(--color-cyan);
    text-decoration: underline;
  }

  &__action {
    margin-left: 3.6rem;
    color: var(--color-violet);
    display: flex;
    border: none;
    background: none;

    &:focus {
      outline: none;
    }

    svg {
      width: 2.9rem;
      height: auto;
    }
  }
}
