@import "styles/abstract/mixins";

.title {
  font-size: 6rem;
  margin-bottom: 1.6rem;
  font-family: var(--fonts-made-soulmaze);
  font-weight: normal;
  text-align: center;

  @include respond(md) {
    font-size: 5rem;
  }

  @include respond(xs) {
    font-size: 3.5rem;
    margin-bottom: 1rem;
  }
}

.subtitle {
  color: var(--color-red);
  font-size: 2.6rem;
  margin-bottom: 8.7rem;
  display: block;
  text-align: center;

  @include respond(md) {
    font-size: 2.2rem;
  }

  @include respond(xs) {
    font-size: 1.8rem;
    margin-bottom: 3rem;
  }
}

.coming-soon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16.5rem 0 19.2rem 0;

  &__title {
    font-size: 4.8rem;
    line-height: 4.2rem;
    font-weight: 400;
    font-family: var(--fonts-made-soulmaze);
    text-align: center;

    @include respond(xs) {
      font-size: 3rem;
      line-height: 1;
      margin-bottom: 1rem;
    }
  }

  &__subtitle {
    font-size: 2rem;
    line-height: 4.8rem;
    font-weight: 700;
    color: var(--color-red);

    @include respond(xs) {
      font-size: 2.4rem;
      line-height: 1;
    }
  }
}