.title {
  font-size: 6rem;
  margin-bottom: 1.6rem;
  font-family: var(--fonts-made-soulmaze);
  font-weight: normal;
  text-align: center;
}

.subtitle {
  color: var(--color-red);
  font-size: 2.6rem;
  margin-bottom: 8.7rem;
  display: block;
  text-align: center;
}

.grid {
  &__header {
    margin-bottom: 2rem;

    a {
      display: flex;
      align-items: center;
      font-size: 1.6rem;
      text-transform: uppercase;
      color: var(--color-dark-violet-4);

      span {
        text-decoration: underline;
        text-decoration-color: var(--color-dark-violet-4);
        color: var(--color-cyan);
        text-underline-offset: 0.6rem;
      }

      svg {
        transform: rotate(180deg) translateY(-0.25rem);
        margin-right: 1rem;
        height: 1.4rem;
        width: auto;
      }
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 7.8rem;
    justify-content: center;
    margin-bottom: 8.5rem;
  }

  &__load-more {
    max-width: 47rem;
    margin: 0 auto;
    width: 100%;
    display: block;
  }
}
