@import "styles/abstract/mixins";

.container {
  --height: 19.3rem;

  height: var(--height);
  width: auto;
  border-radius: 3rem;
  border: 0.1rem solid var(--color-dark-violet-1);
  overflow: hidden;
  position: relative;
  display: flex;

  @include respond(md) {
    --height: 15rem;
    border-radius: 1.5rem;
  }
}

.image-preview {
  display: none;

  img,
  video {
    height: var(--height);
    width: auto;
    min-width: var(--height);
    object-fit: cover;
    object-position: center center;
  }

  &--visible {
    display: flex;

    & + .label {
      display: none;
    }
  }
}

.remove {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  display: flex;
  background: none;
  border: 0.1rem solid var(--color-violet);
  color: var(--color-violet);
  padding: 0.7rem;
  border-radius: 10rem;
  transition: all 0.2s ease-in-out;
  z-index: 2;

  &:hover {
    transform: scale(1.2);
  }

  svg {
    height: 1.3rem;
    width: 1.3rem;
  }
}

.label {
  cursor: pointer;
  height: var(--height);
  width: var(--height);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    to left,
    var(--color-dark-1),
    var(--color-dark-violet-1)
  );
  padding: 2rem;

  @include respond(md) {
    padding: 1rem;
  }

  svg {
    height: 6rem;
    width: 6rem;
    margin-bottom: 1.5rem;

    @include respond(md) {
      height: 4rem;
      width: 4rem;
      margin-bottom: 1rem;
    }
  }

  span {
    font-size: 1.8rem;
    line-height: 1.6;
    text-align: center;
    text-transform: capitalize;

    @include respond(md) {
      font-size: 1.4rem;
    }
  }
}

// error
.error {
  border-color: var(--color-red);
}
