$height: 19.3rem;

.container {
  height: $height;
  width: auto;
  border-radius: 3rem;
  border: 0.1rem solid var(--color-dark-violet-1);
  overflow: hidden;
  position: relative;
  display: flex;
}

.image-preview {
  display: none;

  img,
  video {
    height: $height;
    width: auto;
    min-width: $height;
    object-fit: cover;
    object-position: center center;
  }

  &--visible {
    display: flex;

    & + .label {
      display: none;
    }
  }
}

.remove {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  display: flex;
  background: none;
  border: 0.1rem solid var(--color-violet);
  color: var(--color-violet);
  padding: 0.7rem;
  border-radius: 10rem;
  transition: all 0.2s ease-in-out;
  z-index: 2;

  &:hover {
    transform: scale(1.2);
  }

  svg {
    height: 1.3rem;
    width: 1.3rem;
  }
}

.label {
  cursor: pointer;
  height: $height;
  width: $height;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    to left,
    var(--color-dark-1),
    var(--color-dark-violet-1)
  );
  padding: 2rem;

  svg {
    height: 6rem;
    width: 6rem;
    margin-bottom: 1.5rem;
  }

  span {
    font-size: 1.8rem;
    line-height: 1.6;
    text-align: center;
    text-transform: capitalize;
  }
}

// error
.error {
  border-color: var(--color-red);
}
