.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(27, 8, 51, 0.85);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  padding: 2rem 1.6rem;
}

.modal {
  min-width: 15rem;
  max-width: 38rem;
  max-height: calc(100vh - 4rem);
  overflow: auto;
  display: flex;
  flex-direction: column;
  border-radius: 1.5rem;
  border: 0.1rem solid var(--color-dark-violet-8);
  background: linear-gradient(
    180deg,
    var(--color-dark-6) 0%,
    var(--color-dark-7) 100%
  );
  box-shadow: 0 0 6rem rgba(138, 38, 153, 0.4);

  &:focus {
    outline: none;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 2.3rem 2.7rem 3.4rem 2.7rem;

  button {
    border: none;
    background: none;
    display: flex;

    &:focus {
      outline: none;
    }

    svg {
      height: 2.1rem;
      width: 2.1rem;
    }
  }
}

.content {
  padding: 0 6rem 6rem 6rem;
}
