@import "styles/abstract/mixins";

.title {
  font-size: 6rem;
  margin-bottom: 1.6rem;
  font-family: var(--fonts-made-soulmaze);
  font-weight: normal;
  text-align: center;

  @include respond(md) {
    font-size: 4rem;
  }

  @include respond(xs) {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
}

.subtitle {
  color: var(--color-red);
  font-size: 2.6rem;
  margin-bottom: 12rem;
  display: block;
  text-align: center;

  @include respond(md) {
    font-size: 2rem;
  }

  @include respond(xs) {
    font-size: 1.2rem;
    margin-bottom: 3rem;
  }
}
